* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(../assets/svg/pinkCursor.svg) 12 12, auto;
}

body {
  margin: 0;
  overflow: hidden;
}

.desktop {
  background: transparent;
  width: 100vw;
  height: 100vh;
  font-family: 'VT323', monospace;
  position: relative;
  overflow: hidden;
}

.scanlines {
  position: fixed;  /* fixed so it stays over everything */
  inset: 0;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 2px,
    rgba(0, 0, 0, 0.023) 2px,
    rgba(0, 0, 0, 0.03) 4px
  );
  pointer-events: none;
  z-index: 9999;  /* very high so it's above dragged windows */
}

/* remove the ::before from .desktop */
 
/* CRT scanlines OLD
.desktop::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 2px,
    rgba(0,0,0,0.08) 2px,
    rgba(0,0,0,0.08) 4px
  );
  pointer-events: none;
  z-index: 10;
}*/

.icons {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 20px;
  padding: 28px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer; 
  padding: 8px 24px;
  width: 107px;
  border: 2px solid transparent;
  transition: all 0.1s;
}

.icon:hover {
  border-color: #ff69b4;
  background: rgba(255,105,180,0.1);
}

.songs {
    background: linear-gradient(135deg, #fecde6, #fd84c1);
    border: 3px solid #ff69b4;
    box-shadow: 4px 4px 0 #e24895;
}
.mixer {
    background: linear-gradient(135deg, #d0ffeb, #00ff91);
    border: 3px solid #00ff91;
    box-shadow: 4px 4px 0 #3bad7b;
}.import {
    background: linear-gradient(135deg, #ccaaff, #9351f7);
    border: 3px solid #8f44ff;
    box-shadow: 4px 4px 0 #621ccd;
}.manage {
    background: linear-gradient(135deg, #fedbbc, #ffaa60);
    border: 3px solid #ffa95e;
    box-shadow: 4px 4px 0 #c78042;
}
.tutorial {
  background: linear-gradient(135deg, #f5febc, #f7ff60);
    border: 3px solid #f4ff5e;
    box-shadow: 4px 4px 0 #c0c742;
}

.icon-img {
  width: 70px;
  height: 70px;
   
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.icon-label {
  font-family: 'Press Start 2P', monospace;
  font-size: 7px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0 #ff69b4;
}

.taskbar {
  position: absolute;
  top: 90vh;
  bottom: 100vh;
  left: 0;
  right: 0; 
  min-height: 10vh;
  background: rgba(38, 0, 33, 0.774);
  border-top: 3px solid #fecde6;
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: #00ffff;
  font-family: 'VT323', monospace;
  
}

.hidden {
    opacity: 0;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
