.window {
     
    overflow: visible;
}

.songs-window {
    background-color: rgb(116, 236, 247);
    border: 2px solid rgba(1, 151, 51, 0.63);
    width: 600px;
    height: 450px;
    position: absolute;
    left: 20%;
    top: 20%;
}

.import-window {
    background-color: rgb(212, 230, 101);
    border: 2px solid rgba(163, 169, 2, 0.63);
    width: 230px;
    height: 190px;
    position: absolute;
    left: 60%;
    top: 60%;
}

.mixer-window {
    background-color: rgb(255, 94, 231);
    border: 2px solid rgba(177, 3, 122, 0.63);
    width: 400px;
    height: 300px;
    position: absolute;
    left: 10%;
    top: 10%;
}

.window-titlebar {
    font-size: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.closeButton {
    margin-left: auto;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: red;
    align-items: center;
}

.window-content {
    overflow-y: auto;
    max-height: 350px;
    overflow-x: hidden;
}