.window {
     
    overflow: visible;
}

 

.songs-window {
    background-color: #fecde6;
    border: 2px solid #fd84c1;
    width: 600px;
    height: 450px;
    position: absolute;
    left: 20%;
    top: 20%;
}

.import-window {
    background-color: #ccaaff;
    border: 2px solid #9351f7;
    width: 500px;
    height: 130px;
    position: absolute;
    left: 60%;
    top: 60%;
}

.mixer-window {
    background-color: #bdfde1;
    border: 2px solid #00ff91;
    width: 450px;
    height: 300px;
    position: absolute;
    left: 10%;
    top: 10%;
}

.manage-window {
    background-color: #fedbbc;
    border: 2px solid #ffaa60;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.tutorial-window {
    background-color: #f5febc ;  
    border: 2px solid #f7ff60;
    width: 400px;
    height: 220px;
    position: absolute;
    left: 5%;
    top: 50%;
}

.window-titlebar {
    font-size: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.closeButton {
    margin-left: auto;
    width: 20px;
    height: 20px;
    text-align: center; 
    background-color: rgba(255, 0, 0, 0);
    align-items: center;
    border: rgb(255, 0, 230) 2px solid;
    color: rgb(255, 0, 230);
    font-family: 'Press Start 2P', monospace;
    cursor: pointer;
}

.window-content {
    overflow-y: auto;
    max-height: 350px;
    overflow-x: hidden;
}