:root {
    --app-cursor-default: url('./assets/svg/pinkCursor.png') 12 12, auto;
    --app-cursor-pointer: url('./assets/svg/pinkPointer.png') 3 2, pointer;
}

* {
    margin: 0;
    border: 0;
    cursor: var(--app-cursor-default);
}
